Package: com.atar13.muser
Name: Muser
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Changes the library text of music app.
Maintainer: atar13
Author: atar13
Section: Tweaks
